
body {
    background-image:  url("images/backswirl.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

header {
    background: black;
    padding: 20px;
}

.logo {
        
        width: clamp(3rem, 1rem + 10vw, 5rem); /* you can use % */
        height: auto;
        display: block;
        margin: auto;
        padding: 20px;
    
}

.center {
    margin: 0 auto;
    width: 90%;
    border: none;
    
  }

/*------------------------------------INDEX----------------------------------------*/

.index-title { /*Index otsikko*/
    color:#E3E3E3;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: clamp(1rem, 1rem + 4vw, 3rem);
    line-height: 30px;
    text-align: center;
    margin-top: -40px;
    left: 50%;
    width: 90%;
    padding: 10px;
    margin: 10px auto 0;
}


.div-index-textbox { 
    /* FONT ADJUSTMENTS */
    font-family: 'Gudea', sans-serif;
    font-style: normal;
    font-size: clamp(1rem, 0.5rem + 3vw, 1.2rem);
    font-weight: 400;
    line-height: 20px;
    color: #060710;
    text-align: center;
    
    
    /* BORDER ADJUSMENTS */
    border-radius: 8px;
    background-color: #F4F3F6;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    max-height: 300px;
    
    padding: 10px;
    width: 90%;
    margin-top: -40px;
}
.isonappi { /*esim. Indexin Aloita-nappi*/
    background-color:#7A4FC7; 
    border: none;
    color:#EDE8E2;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 8px;
    width: 264px;
    height: 60px;
    cursor: pointer;
    transition: 0.15s;
    width: clamp(10rem, 5rem + 20vw, 16.5rem);
    margin: 5px;
}

.isonappi:hover {
    opacity: 80%;
  }
.isonappidiv {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

@media (max-width: 767px) { /*huomioi näytön koon responsiivisuuden indexissä*/

    .index-title {
    margin-bottom: 20px;
    }
    
    .isonappi {
    width: 100%;
    margin: 10px 0;
    }
}