*{
    padding: 10px;
}
body {
    background-image:  url("images/backswirl.png");
}

header {
    background: black;
    padding: 20px;
}

.logo {
        
        width: clamp(5rem, 1rem + 15vw, 10rem); /* you can use % */
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
}

.index-title { /*Index otsikko*/
    color:#E3E3E3;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: clamp(1rem, 1rem + 4vw, 4rem);
    line-height: 30px;
    text-align: center;
    margin-top: -40px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}

.div-index-textbox { 
    /* FONT ADJUSTMENTS */
    font-family: 'Gudea', sans-serif;
    font-style: normal;
    font-size: clamp(1rem, 0.5rem + 3vw, 1.2rem);
    font-weight: 400;
    line-height: 20px;
    color: #060710;
    text-align: center;
    
    /* BORDER ADJUSMENTS */
    border-radius: 8px;
    background-color: #F4F3F6;
    display: flex;
    max-width: 960px;
    max-height: 300px;
    margin: 0 auto;
    margin-top: -25px;
}

.isonappi { /*esim. Indexin Aloita-nappi*/
      background-color:#7A4FC7; 
      border-color: #7A4FC7;
      color:#EDE8E2;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-style: italic;
      font-weight: 700;
      line-height: 20px;
      border-radius: 8px;
      width: 264px;
      height: 60px;
      cursor: pointer;
      transition: 0.15s;
}

.isonappi:hover {
    opacity: 80%;
}

.begin {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5rem;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: pink;*/
}
