
body {
    background-image:  url("images/backswirl.png");
    width:auto;
}

header {
    background: black;
    padding: 20px;
}

.logo {
        
        width: clamp(3rem, 1rem + 10vw, 5rem); /* you can use % */
        height: auto;
        display: block;
        margin: auto;
        padding: 20px;
    
}

.center {
    margin: 0 auto;
    width: 90%;
    border: none;
    
  }

/*------------------------------------INDEX----------------------------------------*/

.index-title { /*Index otsikko*/
    color:#E3E3E3;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: clamp(1rem, 1rem + 4vw, 3rem);
    line-height: 30px;
    text-align: center;
    margin-top: -40px;
    left: 50%;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    
   
}


.div-index-textbox { 
    /* FONT ADJUSTMENTS */
    font-family: 'Gudea', sans-serif;
    font-style: normal;
    font-size: clamp(1rem, 0.5rem + 3vw, 1.2rem);
    font-weight: 400;
    line-height: 20px;
    color: #060710;
    text-align: center;
    
    
    /* BORDER ADJUSMENTS */
    border-radius: 8px;
    background-color: #F4F3F6;
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    max-height: 300px;
   width: 90%;
    margin-top: -40px;
    padding: 10px;
}

.isonappi { /*esim. Indexin Aloita-nappi*/
      background-color:#7A4FC7; 
      border: none;
      color:#EDE8E2;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-style: italic;
      font-weight: 700;
      line-height: 20px;
      border-radius: 8px;
      width: clamp(10rem, 7rem + 20vw, 16.5rem);
      height: 60px;
      cursor: pointer;
      transition: 0.15s;
}

.isonappi:hover {
    opacity: 80%;
}

.isonappidiv {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
   
}

/*----------------------------------QUESTIONS-------------------------------------*/

.options {
    color: #060710;
    font-family: 'Gudea', sans-serif;
    padding: 16px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;

}

.question {
    color: #E3E3E3;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
}


ul {
    list-style: none;
}

li {
    background-color: #F4F3F6;
    padding: 20px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 15px;
    
   
    background-color: #F4F3F6;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 600px;
    max-height: 300px;
    width: 90%;
    width: clamp(10rem, rem + 20vw, 20rem);
    
   
}


.material-symbols-outlined {
    border-radius: 50%;
    border: none;
}

.material-symbols-outlined:hover {
    opacity: 80%;
}

.question-title {
   color: #E3E3E3;
   font-family: 'Gudea', sans-serif;
   font-size: 20px;
   
}

.questions-yla {
    height: px;
    
    /*tää on div joka sisältää questionnairen takaisin-napin ja tekstin ICT-alan soveltuvuustesti*/
    /*en oo varma tarvitaanko mutta hän nyt on olemassa toistaiseksi*/
}


